# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python compiled objects
*.pyc

# Visual Studio
vs/Gicame/.vs
vs/Gicame/Release-Win32/*
vs/Gicame/Debug-Win32/*
vs/Gicame/Release-x64/*
vs/Gicame/Debug-x64/*
vs/Gicame/Gicame/Release-Win32/*
vs/Gicame/Gicame/Debug-Win32/*
vs/Gicame/Gicame/Release-x64/*
vs/Gicame/Gicame/Debug-x64/*
Release-Win32/
Release-x64/
Debug-Win32/
Debug-x64/